.DS_Store
.idea/*
!.idea/IntelliLang.xml
!.idea/inspectionProfiles/**
!.idea/codeStyles/**
!.idea/vcs.xml
!.idea/runConfigurations/**
vendor
.cloud/ressources/.terraform
.cloud/ressources/.terraform.lock.hcl
/.cloud/helm/charts/
coverage.out
dist/
.env
payments
tools/compile-configs/compile-configs
tools/connector-template/connector-template
coverage.txt
.direnv/
worktrees/
tmp/