.DS_Store
.idea
vendor
.cloud/ressources/.terraform
.cloud/ressources/.terraform.lock.hcl
/.cloud/helm/charts/
coverage.out
dist/
.env
payments
tools/compile-configs/compile-configs
tools/connector-template/connector-template