{
  "openapi": "3.0.3",
  "info": {
    "title": "Routable Client Integrations",
    "version": "2022-01-12",
    "termsOfService": "https://routable.com/legal/terms-of-service/",
    "description": "This RESTful API allows [Routable](https://www.routable.com) clients to process payments, add vendors, and alter\nsettings for their Routable implementations.",
    "contact": {
      "name": "Routable Developer Experience Team",
      "email": "developers@routable.com",
      "url": "https://developers.routable.com/v1/docs"
    }
  },
  "servers": [
    {
      "url": "https://api.sandbox.routable.com",
      "description": "Sandbox"
    },
    {
      "url": "https://api.routable.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Accounting Software Integration"
    },
    {
      "name": "Companies"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "Countries"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Payables"
    },
    {
      "name": "Payment Methods"
    },
    {
      "name": "Receivables"
    },
    {
      "name": "Settings"
    },
    {
      "name": "Tax Forms"
    },
    {
      "name": "Webhook Events"
    }
  ],
  "externalDocs": {
    "description": "Visit the Routable Developer Center for usage guides, recipes, tools and API reference material.",
    "url": "https://developers.routable.com"
  },
  "paths": {
    "/v1/accounting-software/objects/{ledger_object}": {
      "get": {
        "operationId": "list-accounting-software-objects",
        "description": "Retrieve `AccountingSoftwareObjects` of a given type. Use the optional `search` parameter to filter results.",
        "summary": "List Accounting Software Objects",
        "parameters": [
          {
            "$ref": "#/components/parameters/ledger_object_name"
          },
          {
            "$ref": "#/components/parameters/ledger_object_search"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounting_software.AccountingSoftwareObjectList"
                }
              }
            }
          }
        },
        "tags": [
          "Accounting Software Integration"
        ]
      }
    },
    "/v1/companies": {
      "get": {
        "operationId": "list-companies",
        "summary": "List Companies",
        "description": "Returns a list of previously created Companies.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/company_external_id"
          },
          {
            "$ref": "#/components/parameters/company_search"
          },
          {
            "$ref": "#/components/parameters/company_status"
          },
          {
            "$ref": "#/components/parameters/tax_form_status"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.CompanyList"
                },
                "examples": {
                  "List Companies": {
                    "$ref": "#/components/examples/list-companies"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      },
      "post": {
        "operationId": "create-company",
        "summary": "Create a Company",
        "description": "### Business or Personal?\nWhen creating a company, take note that there are two different types of companies: `business` and `personal`.\n\n- You would create a company as `business` when they are acting as a sole proprietorship, LLC, or corporation.\n- You would create a company as `personal` when they are acting as a contractor or a freelancer.\n\nAlso, take note that the parameters available to configure the company are slightly different between the two types of companies.\nWe've documented these differences in the request schema.\n\n#### What's in a name?\nWhen creating a company, we allow you to set different names based on the type of company.\n\n> ⚠\n>\n> If the `business_name` for your company is incorrect, it can cause issues for payments.\n\n|            | `name`                | `business_name`                                    |\n|------------|-----------------------|-------------------------------------------------|\n| `business` | Set from `business_name` | ✅                                               |\n| `personal` | ✅                     | Set from contact's `first_name`<br>and `last_name` |\n\nWhen working with many `personal` companies, it's common to run into naming collisions.\n\nWe recommend including some sort of unique ID in the name such as `Jane Doe [bHvRzbRA]`.\n\nYour finance team might have preferences here - Check with them 💪.\n\n### Contacts\nCompanies have Contacts that are the recipient of messages pertaining to the Company.\n\nThese resources are created when you create a Company.\n\nA Company can have Contacts added, archived and updated at a later time via the Contacts APIs.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/companies.NewCompany"
              },
              "examples": {
                "Create a Company (Personal)": {
                  "$ref": "#/components/examples/create-company-personal"
                },
                "Create a Company (Business)": {
                  "$ref": "#/components/examples/create-company-business"
                },
                "Create a Company (Business) with Registered Address": {
                  "$ref": "#/components/examples/create-company-business-registered-address"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.Company"
                },
                "examples": {
                  "Retrieve a Company": {
                    "$ref": "#/components/examples/retrieve-company"
                  },
                  "Retrieve a Company with Registered Address": {
                    "$ref": "#/components/examples/retrieve-company-registered-address"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      }
    },
    "/v1/companies/{company_id}": {
      "get": {
        "operationId": "retrieve-company",
        "summary": "Retrieve a Company",
        "description": "Retrieve a previously created Company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.Company"
                },
                "examples": {
                  "Retrieve a Company": {
                    "$ref": "#/components/examples/retrieve-company"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      },
      "patch": {
        "operationId": "update-company",
        "summary": "Update a Company",
        "description": "Update a previously created Company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/companies.UpdateCompany"
              },
              "examples": {
                "Update a Company (Business)": {
                  "$ref": "#/components/examples/update-company-business"
                },
                "Update a Company (Personal)": {
                  "$ref": "#/components/examples/update-company-personal"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.Company"
                },
                "examples": {
                  "Retrieve a Company": {
                    "$ref": "#/components/examples/retrieve-company"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      }
    },
    "/v1/companies/{company_id}/invite": {
      "post": {
        "operationId": "invite-company",
        "summary": "Invite a Company",
        "description": "After creating a company, you may invite the company to use Routable's vendor onboarding flow to add additional\ncontact information and payment method details to their vendor profile. This can be done in two ways: via email\nand/or via an embedded link.\n\nTo send the invitation via email, set the `send_invite_email` parameter to `true`.\nThe recipients of the email will be based on the `Company's` `Contacts` and their `default_contact_for_company_management` value:\n\n- When `actionable`, the contact will receive an email with a clickable link that allows them to submit information.\n- When `read_only`, the contact will only be notified of the invitation.\n- When `none`, the contact will not receive an email notification.\n\nTo use the embedded link flow, use the `get_links` parameter with a value of `true`.\nYou may also specify a `confirmation_redirect_url` to route the user to after completion of the Routable onboarding flow.\n\nAfter inviting a company, their `status` will change to `invited`.\nAfter the contact enters their information, the company's `status` will change to `accepted`.\nAttempting to send an invitation to a Company that is already `accepted` will generate a `400 Bad Request` error.\n\nFor more information, see our [help docs](https://docs.routable.com/en/articles/3482971-what-does-a-vendor-invite-look-like).",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/companies.InviteCompanyAction"
              },
              "examples": {
                "Invite a Company": {
                  "$ref": "#/components/examples/invite-company"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.Company"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-company"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thrown when the Company is already in the `accepted` state.",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.Problem"
                },
                "examples": {
                  "Company Already Accepted": {
                    "$ref": "#/components/examples/invite-company-already-accepted-400"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      },
      "patch": {
        "operationId": "update-invite-company",
        "summary": "Re-Invite a Company",
        "description": "After inviting a company for the first time, you may send a new invite to update information:\n- Updating the payment method on file\n- Updating tax information\n\nThis can be done in one of two ways: via email or via an embedded link.\n\nTo send the invitation via email, set the `send_invite_email` parameter to `true`.\nNote that if both `request_payment_method` and `request_tax_form` are selected, the company will receive one email for each request.\nThe recipients of the email will be based on the `Company's` `Contacts` and their `default_contact_for_company_management` value:\n\n- When `actionable`, the contact will receive an email with a clickable link that allows them to submit information.\n- When `read_only`, the contact will only be notified of the invitation.\n- When `none`, the contact will not receive an email notification.\n\nTo use the embedded link flow, use the `get_links` parameter with a value of `true`.\nNote that when using `get_links: true`, each contact will have their own invitation URL, for each of the requests selected.\nYou may also specify a `confirmation_redirect_url` to route the user to after completion of the Routable onboarding flow.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/companies.UpdateInviteCompanyAction"
              },
              "examples": {
                "Send email to update payment method": {
                  "$ref": "#/components/examples/update-invite-company-payment-email"
                },
                "Send email to update taxes": {
                  "$ref": "#/components/examples/update-invite-company-taxes-email"
                },
                "Send email to update payment method and taxes": {
                  "$ref": "#/components/examples/update-invite-company-both-email"
                },
                "Get links to update payment method": {
                  "$ref": "#/components/examples/update-invite-company-payment-links"
                },
                "Get links to update taxes": {
                  "$ref": "#/components/examples/update-invite-company-taxes-links"
                },
                "Get links to update payment method and taxes": {
                  "$ref": "#/components/examples/update-invite-company-both-links"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/companies.InviteCompany"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-invite-company"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Companies"
        ]
      }
    },
    "/v1/companies/{company_id}/contacts": {
      "get": {
        "operationId": "list-contacts",
        "summary": "List Contacts",
        "description": "Returns a list of previously created Contacts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts.ContactList"
                },
                "examples": {
                  "List Contacts": {
                    "$ref": "#/components/examples/list-contacts"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      },
      "post": {
        "operationId": "create-contact",
        "summary": "Create a Contact",
        "description": "Create a new Contact. Additional Contacts may only be added to Companies of type `business`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contacts.NewContact"
              },
              "examples": {
                "Create a Contact": {
                  "$ref": "#/components/examples/create-contact"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts.Contact"
                },
                "examples": {
                  "Retrieve a Contact": {
                    "$ref": "#/components/examples/retrieve-contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/v1/companies/{company_id}/contacts/{id}": {
      "get": {
        "operationId": "retrieve-contact",
        "summary": "Retrieve a Contact",
        "description": "Retrieve an existing Contact object",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts.Contact"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      },
      "patch": {
        "operationId": "update-contact",
        "summary": "Update a Contact",
        "description": "Update an existing Contact.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/contacts.UpdateContact"
              },
              "examples": {
                "Update a Contact": {
                  "$ref": "#/components/examples/update-contact"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/contacts.Contact"
                },
                "examples": {
                  "Retrieve the updated Contact": {
                    "$ref": "#/components/examples/retrieve-updated-contact"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Contacts"
        ]
      }
    },
    "/v1/countries": {
      "get": {
        "operationId": "list-countries",
        "summary": "List Countries",
        "description": "Returns a list of Countries (and territories) around the world.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countries.CountryList"
                },
                "examples": {
                  "List Countries (truncated)": {
                    "$ref": "#/components/examples/list-countries"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Countries"
        ]
      }
    },
    "/v1/countries/{country_code}": {
      "get": {
        "operationId": "retrieve-country",
        "summary": "Retrieve a Country",
        "description": "Returns details about a specific `Country` (or territory). This includes static data to help you with building a user interface, such as country names and telephone code requirements, as well as information about the payment options Routable provides in this `Country` and the data required to use them.",
        "parameters": [
          {
            "$ref": "#/components/parameters/country_code_all_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countries.Country"
                },
                "examples": {
                  "BR": {
                    "$ref": "#/components/examples/retrieve-country-br"
                  },
                  "MX": {
                    "$ref": "#/components/examples/retrieve-country-mx"
                  },
                  "US": {
                    "$ref": "#/components/examples/retrieve-country-us"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Countries"
        ]
      }
    },
    "/v1/countries/{country_code}/purpose-codes/{company_type}": {
      "get": {
        "operationId": "list-country-purpose-codes",
        "summary": "List Purpose Codes",
        "description": "Get list of `PurposeCodes` for a specific `Country`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/bank_name_query"
          },
          {
            "$ref": "#/components/parameters/country_code_path"
          },
          {
            "$ref": "#/components/parameters/company_type_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/countries.PurposeCodeList"
                },
                "examples": {
                  "Retrieve the list of purpose codes": {
                    "$ref": "#/components/examples/list-purpose-codes"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Countries"
        ]
      }
    },
    "/v1/currencies/rate-estimates": {
      "post": {
        "operationId": "estimate-fees-and-convert",
        "summary": "Estimate Currency Conversions and Fees",
        "description": "Given a currency, amount and delivery method, this endpoint calculates the estimated Routable fees to send the hypothetical payment, as well as the current conversion\nrate between the sender's and receiver's currencies.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/currencies.CalculatorPayload"
              },
              "examples": {
                "Calculate a conversion estimate": {
                  "$ref": "#/components/examples/calculator-post-payload-amount-receiver"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currencies.RateEstimate"
                },
                "examples": {
                  "RateEstimate": {
                    "$ref": "#/components/examples/rate-estimate-response"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Currencies"
        ]
      }
    },
    "/v1/payables": {
      "get": {
        "operationId": "list-payables",
        "summary": "List Payables",
        "description": "Returns a list of Payables that were previously created.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/item_amount_due"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__gt"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__gte"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__lt"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__lte"
          },
          {
            "$ref": "#/components/parameters/item_created_at"
          },
          {
            "$ref": "#/components/parameters/item_created_at__gt"
          },
          {
            "$ref": "#/components/parameters/item_created_at__gte"
          },
          {
            "$ref": "#/components/parameters/item_created_at__lt"
          },
          {
            "$ref": "#/components/parameters/item_created_at__lte"
          },
          {
            "$ref": "#/components/parameters/item_due_on"
          },
          {
            "$ref": "#/components/parameters/item_due_on__gt"
          },
          {
            "$ref": "#/components/parameters/item_due_on__gte"
          },
          {
            "$ref": "#/components/parameters/item_due_on__lt"
          },
          {
            "$ref": "#/components/parameters/item_due_on__lte"
          },
          {
            "$ref": "#/components/parameters/item_external_id"
          },
          {
            "$ref": "#/components/parameters/item_sort"
          },
          {
            "$ref": "#/components/parameters/item_status"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__gt"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__gte"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__lt"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__lte"
          },
          {
            "$ref": "#/components/parameters/payable_to_company"
          },
          {
            "$ref": "#/components/parameters/payable_withdraw_from_account"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.PayableList"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/list-payables"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      },
      "post": {
        "operationId": "create-payable",
        "summary": "Create a Payable",
        "description": "### Types of Payables\n\nRoutable supports creating five different types of Payables.\n\n**Bank Transfer** (`type=ach`)\n- Create this Payable when you explicitly want to pay your vendor via bank transfer.\n- Your vendor must have an existing `PaymentMethod` where `type=bank`.\n- This Payable type is also used for `real_time_payments`.\n  See [Real-Time Payments](https://developers.routable.com/v1/docs/real-time-payments) for more information.\n\n**International** (`type=international`)\n- Create this Payable when paying international vendors via local bank transfer or SWIFT.\n- Your vendor must have an existing `PaymentMethod` where `type=international`. They can create this in the Invite a Company or Accept Payment flows.\n- See the `delivery_methods` array in the vendor's `PaymentMethod` to determine what delivery methods are supported.\n- You must have an existing `PaymentMethod` where `type=bank` to process an international transaction.\n- See [International Payments](https://developers.routable.com/v1/docs/cross-border-payments) for details.\n\n**Check** (`type=check`)\n- Create this Payable when you explicitly want to pay your vendor via check.\n- Your vendor must have an existing `PaymentMethod` where `type=address`.\n\n**Vendor Choice** (`type=vendor_choice`)\n- Create this Payable when you want your vendor to be able to choose their preferred payment method.\n- You may use this when your vendor has no existing payment methods and they will be prompted to submit a payment method via our onboarding flow.\n\n**External** (`type=external`)\n- Create this Payable when you want to track a payment that was already made outside of Routable.\n\n### Rate Limiting\n🏁 This endpoint's rate limit is 100 calls per minute.\n\n### Idempotency Key\nWe highly recommend you supply an idempotency key when creating Payables to prevent duplicate requests. These keys are **stored for a period of 24 hours**.\n\nIf a request fails due to a network error, you can safely retry the same request with the same key and guarantee that your request had exactly one effect.\n\nWhen a request is sent with an idempotency key for an already created resource, the response object for the existing resource will be returned.\n\nAll requests with the same key will be considered attempts for the same request. It is therefore important that you use unique keys. We suggest using random values, such as UUIDs.\n\n### Status Codes\nPlease note that it is possible for this endpoint to return a `202` response, which indicates that we are still processing the request.\n\nTo ensure that the payment has been created, you may attempt to retrieve it using the returned ID or `self` link.\n\n### Scheduling Payables\nRoutable supports 3 different ways of scheduling your Payables based on the value supplied for `send_on`.\n\n**Sending a Payable Today**\n- To send a Payable today, set it to today's date **in Pacific time**.\n- Use this when you want to send a payable ASAP.\n\n**Sending a Payable in the Future**\n- To send a Payable in the future, set `send_on` to a future date **in Pacific time**.\n- Use this when you want to send a payable in the future.\n\n**Sending a Payable with no defined date**\n- To create a Payable with no specified date, set `send_on` to `null`.\n- Use this when you want to prepare a payable to be sent. This can be useful when testing out your integration.\n\n### Default Contacts\nWhen sending Payables via our API, we will notify all contacts associated with the company based on the values specified for their `default_contact_for_payable_and_receivable` field.\n\n### Default Approvals\nWhen sending Payables via our API and a payable requires approvals [per your approval settings](https://docs.routable.com/en/articles/4641938-adding-approval-settings-for-your-account?_ga=2.53528619.2003059088.1621881780-1121629.1606862541) we will automatically fill in the appropriate team members.\n\nWe do this by finding all applicable levels of approval and requesting approvals from all team members.\n\nFor example, you can set up your account so that:\n\n- Any Payable over $1,000 requires a first level approval from either Angela or Oscar.\n- Any Payable over $2,000 requires a second level approval from both Michael and Andy.\n\nWhen creating a Payable for $1,100 the API would request approval from both Angela and Oscar.\n\nWhen creating a Payable for $2,100 the API would request approval from both Michael and Andy for the second level as well as Angela and Oscar on the first level.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotency_key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.payables.discriminated.NewPayable"
              },
              "examples": {
                "Pay by ACH": {
                  "$ref": "#/components/examples/create-payable-ach"
                },
                "Pay by Check": {
                  "$ref": "#/components/examples/create-payable-check"
                },
                "Mark as Externally Paid": {
                  "$ref": "#/components/examples/create-payable-externally-paid"
                },
                "International Payment": {
                  "$ref": "#/components/examples/create-payable-international"
                },
                "Pay via PayPal": {
                  "$ref": "#/components/examples/create-payable-paypal"
                },
                "Vendor Choice": {
                  "$ref": "#/components/examples/create-payable-vendor-choice"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.Payable"
                },
                "examples": {
                  "Payable ACH": {
                    "$ref": "#/components/examples/retrieve-payable-ach"
                  },
                  "Payable Check": {
                    "$ref": "#/components/examples/retrieve-payable-check"
                  },
                  "Payable Externally Paid": {
                    "$ref": "#/components/examples/retrieve-payable-external"
                  },
                  "Payable PayPal": {
                    "$ref": "#/components/examples/retrieve-payable-paypal"
                  },
                  "Payable Vendor's Choice": {
                    "$ref": "#/components/examples/retrieve-payable-vendor-choice"
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.common.AcceptedPayable"
                },
                "examples": {
                  "Accepted": {
                    "$ref": "#/components/examples/accepted-payable"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Amount bad request": {
                    "$ref": "#/components/examples/create-payable-amount-error-400"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Approval settings being edited": {
                    "$ref": "#/components/examples/create-payable-approval-settings-error-409"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/payables/{id}": {
      "get": {
        "operationId": "retrieve-payable",
        "summary": "Retrieve a Payable",
        "description": "Retrieve an existing Payable object",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.Payable"
                },
                "examples": {
                  "Payable ACH": {
                    "$ref": "#/components/examples/retrieve-payable-ach"
                  },
                  "Payable Check": {
                    "$ref": "#/components/examples/retrieve-payable-check"
                  },
                  "Payable Vendor's Choice": {
                    "$ref": "#/components/examples/retrieve-payable-vendor-choice"
                  },
                  "Payable Externally Paid": {
                    "$ref": "#/components/examples/retrieve-payable-external"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      },
      "patch": {
        "operationId": "update-payable",
        "summary": "Update a Payable",
        "description": "Update an existing Payable.\n\n🏁 This endpoint's rate limit is 100 calls per minute.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          },
          {
            "$ref": "#/components/parameters/idempotency_key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.payables.discriminated.UpdatePayable"
              },
              "examples": {
                "Basic": {
                  "$ref": "#/components/examples/update-payable"
                },
                "To Payment Method - ACH": {
                  "$ref": "#/components/examples/update-payable-payment-method-ach"
                },
                "To Payment Method - Vendor Choice": {
                  "$ref": "#/components/examples/update-payable-payment-method-vendor-choice"
                },
                "Add Line Item": {
                  "$ref": "#/components/examples/update-payable-add-line-item"
                },
                "Edit Line Item": {
                  "$ref": "#/components/examples/update-payable-edit-line-item"
                },
                "Remove Line Item": {
                  "$ref": "#/components/examples/update-payable-remove-line-item"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.Payable"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Amount bad request": {
                    "$ref": "#/components/examples/create-payable-amount-error-400"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Approval settings being edited": {
                    "$ref": "#/components/examples/create-payable-approval-settings-error-409"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/payables/{id}/cancel": {
      "post": {
        "operationId": "cancel-payable",
        "summary": "Cancel a Payable",
        "description": "Cancel an existing Payable. For full details on when you can cancel payables, see our [help docs](https://docs.routable.com/en/articles/4798143-canceling-a-payable-or-receivable).",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.common.CancelItemAction"
              },
              "examples": {
                "Cancel a Payable": {
                  "$ref": "#/components/examples/cancel-payable"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.Payable"
                },
                "examples": {
                  "Canceled Payable": {
                    "$ref": "#/components/examples/retrieve-canceled-payable"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/payables/{id}/confirmation": {
      "get": {
        "operationId": "retrieve-payable-confirmation",
        "summary": "Download Confirmation PDF",
        "description": "If the Payable has been successfully processed, this endpoint returns the PDF confirmation of the successful payment.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "The response is a streaming `application/pdf` file containing a confirmation of a successful payment.",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/pdf": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Payment Confirmation File Not Found",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "example": "Payment confirmation file not found"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/payables/{id}/remind": {
      "post": {
        "operationId": "remind-payable",
        "summary": "Send a Payable Reminder",
        "description": "Send an email reminding a vendor to take action on an existing Payable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.common.RemindAction"
              },
              "examples": {
                "Send a Payable Reminder": {
                  "$ref": "#/components/examples/remind-payable"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.payables.discriminated.Payable"
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/payables/rate-estimates": {
      "post": {
        "operationId": "estimate-payable",
        "summary": "Estimate Fees for a Payable",
        "description": "Given a valid `Payable` payload, return an estimate of the currency conversion (if applicable), as well as the Routable and transfer fees associated with making the payable.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.payables.discriminated.NewPayable"
              },
              "examples": {
                "Pay by ACH": {
                  "$ref": "#/components/examples/create-payable-ach"
                },
                "Pay by Check": {
                  "$ref": "#/components/examples/create-payable-check"
                },
                "Mark as Externally Paid": {
                  "$ref": "#/components/examples/create-payable-externally-paid"
                },
                "International Payment": {
                  "$ref": "#/components/examples/create-payable-international"
                },
                "Pay via PayPal": {
                  "$ref": "#/components/examples/create-payable-paypal"
                },
                "Vendor Choice": {
                  "$ref": "#/components/examples/create-payable-vendor-choice"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/currencies.RateEstimate"
                },
                "examples": {
                  "RateEstimate": {
                    "$ref": "#/components/examples/rate-estimate-response"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payables"
        ]
      }
    },
    "/v1/companies/{company_id}/payment-methods": {
      "get": {
        "operationId": "list-payment-methods",
        "summary": "List Payment Methods",
        "description": "Returns a list of Payment Methods that were previously created.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_methods.discriminated.PaymentMethodList"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/list-payment-methods"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Methods"
        ]
      },
      "post": {
        "operationId": "create-payment-method",
        "summary": "Create a Payment Method",
        "description": "Create a new Payment Method attached to a Company.\n\nPlease note that there are **three** different types of payment methods: `address`, `bank` and `international`.\n\nCompanies may have up to six 'bank' Payment Methods attached to them. This limit does not apply to\n'address' Payment Methods.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment_methods.discriminated.NewPaymentMethod"
              },
              "examples": {
                "Create a Payment Method (Address)": {
                  "$ref": "#/components/examples/create-payment-method-address"
                },
                "Create a Payment Method (Bank)": {
                  "$ref": "#/components/examples/create-payment-method-bank"
                },
                "Create a Payment Method (International)": {
                  "$ref": "#/components/examples/create-payment-method-international"
                },
                "Create a Payment Method (PayPal)": {
                  "$ref": "#/components/examples/create-payment-method-paypal"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_methods.discriminated.PaymentMethod"
                },
                "examples": {
                  "Payment Method (Address)": {
                    "$ref": "#/components/examples/retrieve-payment-method-address"
                  },
                  "Payment Method (Bank)": {
                    "$ref": "#/components/examples/retrieve-payment-method-bank"
                  },
                  "Payment Method (International)": {
                    "$ref": "#/components/examples/retrieve-payment-method-international"
                  },
                  "Payment Method (PayPal)": {
                    "$ref": "#/components/examples/retrieve-payment-method-paypal"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/v1/companies/{company_id}/payment-methods/{id}": {
      "get": {
        "operationId": "retrieve-payment-method",
        "summary": "Retrieve a Payment Method",
        "description": "Retrieve an existing Payment Method object.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_methods.discriminated.PaymentMethod"
                },
                "examples": {
                  "Address": {
                    "$ref": "#/components/examples/retrieve-payment-method-address"
                  },
                  "Bank": {
                    "$ref": "#/components/examples/retrieve-payment-method-bank"
                  },
                  "International": {
                    "$ref": "#/components/examples/retrieve-payment-method-international"
                  },
                  "PayPal": {
                    "$ref": "#/components/examples/retrieve-payment-method-paypal"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Methods"
        ]
      },
      "patch": {
        "operationId": "update-payment-method",
        "summary": "Update a Payment Method",
        "description": "Update an existing Payment Method object.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          },
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment_methods.common.UpdatePaymentMethod"
              },
              "examples": {
                "Update a Payment Method": {
                  "$ref": "#/components/examples/update-payment-method"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_methods.discriminated.PaymentMethod"
                },
                "examples": {
                  "Retrieve the updated Contact": {
                    "$ref": "#/components/examples/retrieve-updated-payment-method"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/v1/companies/{company_id}/payment-methods/validate": {
      "post": {
        "operationId": "validate-payment-method",
        "summary": "Validate a Payment Method",
        "description": "Validate a new `PaymentMethod` before attaching it to a `Company`. Please note that only `bank` `PaymentMethods` can be validated at this time.\n\nWhen testing in [the Routable Sandbox](https://developers.routable.com/docs/our-sandbox), you can deterministically control the results you wish to receive for\neach `check` based on the values of the last two digits of the `account_number`:\n\n![The last digit is the desired `verification` result, second to last is the desired `ownership` result.](https://files.readme.io/d1c74fa053fd75781cc151341bb6cef734235c6b117ebd1d420956956c8eba48-bank_account_validation_test_data.png \"Test Account Numbers\")\n\nPass the following number in a check's digit to get the result you want:\n1: `match`\n2: `mismatch`\n3: `no_data`\n4: `unable_to_verify`\n5-9 and 0: result undefined",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/payment_methods.bank.NewPaymentMethodBank"
              },
              "examples": {
                "Validate a Payment Method (Bank)": {
                  "$ref": "#/components/examples/create-payment-method-bank"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/payment_methods.common.ValidationResponse"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/validate-payment-method-bank"
                  }
                }
              }
            }
          },
          "402": {
            "description": "Payment Required (This feature is not enabled in your Workspace.)",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.Problem"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/402"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payment Methods"
        ]
      }
    },
    "/v1/receivables": {
      "get": {
        "operationId": "list-receivables",
        "summary": "List Receivables",
        "description": "Returns a list of Receivables that were previously created.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/item_amount_due"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__gt"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__gte"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__lt"
          },
          {
            "$ref": "#/components/parameters/item_amount_due__lte"
          },
          {
            "$ref": "#/components/parameters/item_created_at"
          },
          {
            "$ref": "#/components/parameters/item_created_at__gt"
          },
          {
            "$ref": "#/components/parameters/item_created_at__gte"
          },
          {
            "$ref": "#/components/parameters/item_created_at__lt"
          },
          {
            "$ref": "#/components/parameters/item_created_at__lte"
          },
          {
            "$ref": "#/components/parameters/item_due_on"
          },
          {
            "$ref": "#/components/parameters/item_due_on__gt"
          },
          {
            "$ref": "#/components/parameters/item_due_on__gte"
          },
          {
            "$ref": "#/components/parameters/item_due_on__lt"
          },
          {
            "$ref": "#/components/parameters/item_due_on__lte"
          },
          {
            "$ref": "#/components/parameters/item_external_id"
          },
          {
            "$ref": "#/components/parameters/item_sort"
          },
          {
            "$ref": "#/components/parameters/item_status"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__gt"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__gte"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__lt"
          },
          {
            "$ref": "#/components/parameters/item_status_changed_at__lte"
          },
          {
            "$ref": "#/components/parameters/receivable_due_from_company"
          },
          {
            "$ref": "#/components/parameters/receivable_deposit_into_account"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.ReceivableList"
                },
                "examples": {
                  "List Receivables": {
                    "$ref": "#/components/examples/list-receivables"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      },
      "post": {
        "operationId": "create-receivable",
        "summary": "Create a Receivable",
        "description": "Create a Receivable to be paid by one of your Customers.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotency_key"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.receivables.discriminated.NewReceivable"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.Receivable"
                }
              }
            }
          },
          "202": {
            "description": "Accepted",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.common.AcceptedReceivable"
                },
                "examples": {
                  "Accepted": {
                    "$ref": "#/components/examples/accepted-receivable"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Amount bad request": {
                    "$ref": "#/components/examples/create-payable-amount-error-400"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Approval settings being edited": {
                    "$ref": "#/components/examples/create-receivable-approval-settings-error-409"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      }
    },
    "/v1/receivables/{id}": {
      "get": {
        "operationId": "retrieve-receivable",
        "summary": "Retrieve a Receivable",
        "description": "Retrieve an existing Receivable object",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.Receivable"
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      },
      "patch": {
        "operationId": "update-receivable",
        "summary": "Update a Receivable",
        "description": "Update an existing Receivable.\n\n🏁 This endpoint's rate limit is 100 calls per minute.",
        "parameters": [
          {
            "$ref": "#/components/parameters/idempotency_key"
          },
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.receivables.discriminated.UpdateReceivable"
              },
              "examples": {
                "Edit Line Item": {
                  "$ref": "#/components/examples/update-receivable-edit-line-item"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.Receivable"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Amount bad request": {
                    "$ref": "#/components/examples/create-payable-amount-error-400"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "examples": {
                  "Approval settings being edited": {
                    "$ref": "#/components/examples/create-receivable-approval-settings-error-409"
                  },
                  "Incorrect version": {
                    "$ref": "#/components/examples/retrieve-receivable"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      }
    },
    "/v1/receivables/{id}/cancel": {
      "post": {
        "operationId": "cancel-receivable",
        "summary": "Cancel a Receivable",
        "description": "Cancel an Receivable. For full details on when you can cancel Receivables, see our\n[help docs](https://docs.routable.com/en/articles/4798143-canceling-a-payable-or-receivable).",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.common.CancelItemAction"
              },
              "examples": {
                "Cancel a Receivable": {
                  "$ref": "#/components/examples/cancel-payable"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.Receivable"
                },
                "examples": {
                  "Canceled Receivable": {
                    "$ref": "#/components/examples/retrieve-canceled-receivable"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      }
    },
    "/v1/receivables/{id}/remind": {
      "post": {
        "operationId": "remind-receivable",
        "summary": "Send a Receivable Reminder",
        "description": "Send an email reminding a vendor to take action on an existing Receivable.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/items.common.RemindAction"
              },
              "examples": {
                "Send a Receivable Reminder": {
                  "$ref": "#/components/examples/remind-receivable"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/items.receivables.discriminated.Receivable"
                }
              }
            }
          }
        },
        "tags": [
          "Receivables"
        ]
      }
    },
    "/v1/settings/accounts": {
      "get": {
        "operationId": "list-accounts",
        "summary": "List Accounts",
        "description": "Returns a list of previously created Accounts.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.AccountList"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/list-accounts"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/settings/accounts/{id}": {
      "get": {
        "operationId": "retrieve-account",
        "summary": "Retrieve an Account",
        "description": "Retrieve an existing Account.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.Account"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-account"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/settings/balance": {
      "get": {
        "operationId": "retrieve-balance",
        "summary": "Retrieve Routable Balance Account",
        "description": "Retrieves the `Account` for your Routable balance. Returns the same response as `GET /v1/settings/accounts/{id}`\nwhere the `id` references your `balance` `Account`.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.AccountBalance"
                },
                "examples": {
                  "Canceled Receivable": {
                    "$ref": "#/components/examples/retrieve-balance"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/settings/balance/deposit": {
      "post": {
        "operationId": "deposit-into-balance",
        "summary": "Deposit Funds into Routable Balance",
        "description": "Moves funds from the specified `bank` `Account` into your Routable balance.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/accounts.DepositAction"
              },
              "examples": {
                "Create a Deposit": {
                  "$ref": "#/components/examples/balance-deposit"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accounts.AccountBalance"
                },
                "examples": {
                  "Canceled Receivable": {
                    "$ref": "#/components/examples/retrieve-balance"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/settings/team-members": {
      "get": {
        "operationId": "list-team-members",
        "summary": "List Team Members",
        "description": "Returns a list of existing `TeamMembers`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settings.TeamMemberList"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/list-team-members"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/settings/workspace": {
      "get": {
        "operationId": "retrieve-workspace-settings",
        "summary": "Retrieve Workspace Settings",
        "description": "Retrieves some top-level settings for your Routable `Workspace`.",
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/settings.Workspace"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-workspace"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Settings"
        ]
      }
    },
    "/v1/companies/{company_id}/tax-forms": {
      "post": {
        "operationId": "create-tax-form",
        "summary": "Create Company Tax Form",
        "description": "Create a new `TaxForm` for the specified `Company`.",
        "parameters": [
          {
            "$ref": "#/components/parameters/company_id_path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/tax_forms.NewCompanyTaxForm"
              },
              "examples": {
                "Submit W-8BEN tax form": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben"
                },
                "Submit W-8BEN tax form (certified form upload)": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-uploaded-form"
                },
                "Submit W-8BEN tax form (no mailing address)": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-no-mailing-address"
                },
                "Submit W-8BEN tax form (no treaty benefits)": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-no-treaty-benefits"
                },
                "Submit W-8BEN-E tax form": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-e"
                },
                "Submit W-8BEN-E tax form (no mailing address)": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-e-no-mailing-address"
                },
                "Submit W-8BEN-E tax form (no treaty benefits)": {
                  "$ref": "#/components/examples/create-tax-form-w-8ben-e-no-treaty-benefits"
                },
                "Submit W-9 tax form": {
                  "$ref": "#/components/examples/create-tax-form-w-9-business"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tax_forms.TaxForm"
                },
                "examples": {
                  "Submit W-9 tax form": {
                    "$ref": "#/components/examples/retrieve-tax-form-w-9-business"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Thrown when the Company is not eligible to submit tax form.",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/shared.Problem"
                },
                "examples": {
                  "Company Not Eligible": {
                    "$ref": "#/components/examples/create-tax-form-not-eligible-400"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Tax Forms"
        ]
      }
    },
    "/v1/webhooks/events": {
      "get": {
        "operationId": "list-webhook-events",
        "summary": "List Webhook Events",
        "description": "Returns a list of existing Webhook Events.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/webhook_created_at__gte"
          },
          {
            "$ref": "#/components/parameters/webhook_created_at__lte"
          },
          {
            "$ref": "#/components/parameters/webhook_status"
          },
          {
            "$ref": "#/components/parameters/webhook_type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooks.WebhookEventList"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/list-webhook-events"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhook Events"
        ]
      }
    },
    "/v1/webhooks/events/{id}": {
      "get": {
        "operationId": "retrieve-webhook-event",
        "summary": "Retrieve a Webhook Event",
        "description": "Retrieve an existing Webhook Event.",
        "parameters": [
          {
            "$ref": "#/components/parameters/id_path"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooks.WebhookEvent"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retrieve-webhook-event"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhook Events"
        ]
      }
    },
    "/v1/webhooks/retry": {
      "post": {
        "operationId": "retry-webhook-events",
        "summary": "Retry Webhook Events",
        "description": "Retry Webhook Events.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/page_size"
          },
          {
            "$ref": "#/components/parameters/webhook_created_at__gte"
          },
          {
            "$ref": "#/components/parameters/webhook_created_at__lte"
          },
          {
            "$ref": "#/components/parameters/webhook_status"
          },
          {
            "$ref": "#/components/parameters/webhook_type"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "request-id": {
                "$ref": "#/components/headers/request-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/webhooks.WebhookRetryResult"
                },
                "examples": {
                  "example": {
                    "$ref": "#/components/examples/retry-webhook-events"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Webhook Events"
        ]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Find your Routable API Token in the Routable Dashboard's Account Settings section.\n\nSee our [help docs](https://docs.routable.com/en/articles/4817333-getting-started-with-the-api) for more\ninformation."
      }
    },
    "schemas": {
      "accounting_software.AccountingSoftwareObjectType": {
        "description": "All the possible Accounting Software object types for the `/v1/accounting-software/objects` endpoint.",
        "type": "string",
        "enum": [
          "accounting-periods",
          "accounts",
          "amortization_templates",
          "classes",
          "contracts",
          "departments",
          "employees",
          "items",
          "locations",
          "projects",
          "tasks",
          "tax-codes",
          "warehouses"
        ]
      },
      "shared.SelfLink": {
        "description": "Link to this object.",
        "type": "string",
        "format": "uri-reference"
      },
      "shared.ListLinks": {
        "description": "Related links.",
        "type": "object",
        "properties": {
          "self": {
            "$ref": "#/components/schemas/shared.SelfLink"
          },
          "next": {
            "description": "Link to the next page of results.",
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "prev": {
            "description": "Link to the previous page of results.",
            "type": "string",
            "format": "uri",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "required": [
          "self"
        ]
      },
      "shared.PaginatedList": {
        "type": "object",
        "properties": {
          "object": {
            "description": "The object’s type (`List`).",
            "type": "string",
            "enum": [
              "List"
            ]
          },
          "links": {
            "$ref": "#/components/schemas/shared.ListLinks"
          }
        },
        "required": [
          "object",
          "links"
        ]
      },
      "accounting_software.AccountingSoftwareObject": {
        "description": "Models an object in your accounting software, such as a class, tax code, or location.",
        "type": "object",
        "properties": {
          "id": {
            "description": "The Accounting Software object's ID.",
            "type": "string"
          },
          "name": {
            "description": "The Accounting Software object's name.",
            "type": "string"
          },
          "code": {
            "description": "The Accounting Software object's code.",
            "type": "string"
          },
          "object": {
            "description": "The Accounting Software object's type.",
            "type": "string",
            "enum": [
              "AccountingSoftwareObject"
            ]
          }
        }
      },
      "accounting_software.AccountingSoftwareObjectList": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/shared.PaginatedList"
          },
          {
            "type": "object",
            "required": [
              "results"
            ],
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/accounting_software.AccountingSoftwareObject"
                }
              }
            }
          }
        ]
      },
      "companies.Status": {
        "description": "The status of the Company's onboarding.\n\n- When set to `added`, this indicates that you have added the Company to Routable. This will be the starting\nstatus.\n- When set to `invited`, this indicates that you have also sent this Company an invitation to submit their\nbusiness and banking information with Routable.\n- When set to `accepted`, this indicates that the Company has accepted your invitation and submitted their\nbusiness and banking information with Routable.",
        "type": "string",
        "enum": [
          "accepted",
          "added",
          "invited"
        ]
      },
      "shared.TaxFormStatus": {
        "description": "Current status of company's tax form.",
        "type": "string",
        "enum": [
          "archived",
          "completed",
          "expired",
          "none"
        ]
      },
      "shared.ContactDefault": {
        "type": "string",
        "enum": [
          "actionable",
          "read_only",
          "none",
          "",
          "self_managed"
        ],
        "default": "actionable"
      },
      "shared.PhoneNumber": {
        "type": "string",
        "description": "An E.164-formatted telephone number.",
        "minLength": 6,
        "maxLength": 16,
        "pattern": "^\\+?[1-9]\\d{1,14}$"
      },
      "iso.CountryCodeAll": {
        "type": "string",
        "description": "Country code in ISO 3166-1 Alpha-2 format.",
        "minLength": 2,
        "maxLength": 2,
        "enum": [
          "AD",
          "AE",
          "AF",
          "AG",
          "AI",
          "AL",
          "AM",
          "AO",
          "AR",
          "AS",
          "AT",
          "AU",
          "AW",
          "AX",
          "AZ",
          "BA",
          "BB",
          "BD",
          "BE",
          "BF",
          "BG",
          "BH",
          "BI",
          "BJ",
          "BL",
          "BM",
          "BN",
          "BO",
          "BQ",
          "BR",
          "BS",
          "BT",
          "BW",
          "BY",
          "BZ",
          "CA",
          "CC",
          "CD",
          "CF",
          "CG",
          "CH",
          "CI",
          "CK",
          "CL",
          "CM",
          "CN",
          "CO",
          "CR",
          "CU",
          "CV",
          "CW",
          "CX",
          "CY",
          "CZ",
          "DE",
          "DJ",
          "DK",
          "DM",
          "DO",
          "DZ",
          "EC",
          "EE",
          "EG",
          "EH",
          "ER",
          "ES",
          "ET",
          "FI",
          "FJ",
          "FK",
          "FM",
          "FO",
          "FR",
          "GA",
          "GB",
          "GD",
          "GE",
          "GF",
          "GG",
          "GH",
          "GI",
          "GL",
          "GM",
          "GN",
          "GP",
          "GQ",
          "GR",
          "GS",
          "GT",
          "GU",
          "GW",
          "GY",
          "HK",
          "HM",
          "HN",
          "HR",
          "HT",
          "HU",
          "ID",
          "IE",
          "IL",
          "IM",
          "IN",
          "IO",
          "IQ",
          "IR",
          "IS",
          "IT",
          "JE",
          "JM",
          "JO",
          "JP",
          "KE",
          "KG",
          "KH",
          "KI",
          "KM",
          "KN",
          "KP",
          "KR",
          "KW",
          "KY",
          "KZ",
          "LA",
          "LB",
          "LC",
          "LI",
          "LK",
          "LR",
          "LS",
          "LT",
          "LU",
          "LV",
          "LY",
          "MA",
          "MC",
          "MD",
          "ME",
          "MF",
          "MG",
          "MH",
          "MK",
          "ML",
          "MM",
          "MN",
          "MO",
          "MP",
          "MQ",
          "MR",
          "MS",
          "MT",
          "MU",
          "MV",
          "MW",
          "MX",
          "MY",
          "MZ",
          "NA",
          "NC",
          "NE",
          "NF",
          "NG",
          "NI",
          "NL",
          "NO",
          "NP",
          "NR",
          "NU",
          "NZ",
          "OM",
          "PA",
          "PE",
          "PF",
          "PG",
          "PH",
          "PK",
          "PL",
          "PM",
          "PN",
          "PR",
          "PS",
          "PT",
          "PW",
          "PY",
          "QA",
          "RE",
          "RO",
          "RS",
          "RU",
          "RW",
          "SA",
          "SB",
          "SC",
          "SD",
          "SE",
          "SG",
          "SH",
          "SI",
          "SJ",
          "SK",
          "SL",
          "SM",
          "SN",
          "SO",
          "SR",
          "SS",
          "ST",
          "SV",
          "SX",
          "SY",
          "SZ",
          "TC",
          "TD",
          "TF",
          "TG",
          "TH",
          "TJ",
          "TK",
          "TL",
          "TM",
          "TN",
          "TO",
          "TR",
          "TT",
          "TV",
          "TW",
          "TZ",
          "UA",
          "UG",
          "UM",
          "US",
          "UY",
          "UZ",
          "VA",
          "VC",
          "VE",
          "VG",
          "VI",
          "VN",
          "VU",
          "XK",
          "XX",
          "WF",
          "WS",
          "YE",
          "YT",
          "ZA",
          "ZM",
          "ZW"
        ]
      },
      "contacts.ContactLinks": {
        "description": "Related links.",
        "type": "object",
        "properties": {
          "company": {
            "description": "Link to this Contact's Company.",
            "type": "string",
            "format": "uri-reference"
          },
          "invitation_url": {
            "description": "The URL for Company onboarding, generated by a call to the `/v1/companies/:id/invite` endpoint.",
            "type": "string",
            "format": "uri"
          },
          "self": {
            "$ref": "#/components/schemas/shared.SelfLink"
          }
        },
        "additionalProperties": false,
        "required": [
          "self",
          "company"
        ]
      },
      "contacts.Contact": {
        "type": "object",
        "properties": {
          "object": {
            "description": "The object’s type (`Contact`).",
            "type": "string",
            "enum": [
              "Contact"
            ]
          },
          "id": {
            "description": "The Contact ID.",
            "type": "string",
            "format": "uuid"
          },
          "default_contact_for_company_management": {
            "description": "This field controls how both the Routable dashboard and API will autofill contacts for emails related to company management such as inviting a company to submit their payment information.\n\n- When set to `actionable`, the contact will be able to take action on emails related to company management.\n- When set to `read_only`, the contact will only receive emails related to company management.\n- When set to `none`, the contact will not receive emails related to company management.",
            "allOf": [
              {
                "$ref": "#/components/schemas/shared.ContactDefault"
              }
            ]
          },
          "default_contact_for_payable_and_receivable": {
            "allOf": [
              {
                "description": "This field controls how both the Routable dashboard and API will autofill contacts for emails related to payables and receivables.\n\n- When set to `actionable`, the contact will be able to take action on emails related to payables and receivables.\n- When set to `read_only`, the contact will only receive emails related to payables and receivables.\n- When set to `none`, the contact will not receive emails related to payables and receivables."
              },
              {
                "$ref": "#/components/schemas/shared.ContactDefault"
              }
            ]
          },
          "email": {
            "description": "The email for this contact.",
            "type": "string",
            "format": "email",
            "nullable": true
          },
          "last_email_delivery_problem": {
            "description": "Describes an error that was encountered the last time an email was sent to this Contact via the Routable application.\nIf the last email had no errors, this value will be null.\n| Issue             | Description                        |\n| ----------------- | -----------------------------------|\n| auto_responder    | Automatic email responder (ex: \"Out of Office\" or \"On Vacation\"). |\n| hard_bounce       | The server was unable to deliver your message (ex: unknown user, mailbox not found).    |\n| refused           | Email service has asked that the address not be used. Which could be because it is not a valid email address, or the recipient has requested an address change. |\n| soft_bounce       | Temporarily unable to deliver the message (i.e. mailbox full, account disabled, exceeds quota, out of disk space).  |\n| spam_complaint    | The subscriber explicitly marked this message as spam.    |\n| spam_notification | The message was delivered, but was either blocked by the user, or classified as spam, bulk mail, or had rejected content. |\n| transient         | The server temporarily could not deliver your message (ex: Message is delayed due to network troubles). This may be re-tried and eventually resolve or become a different error.|\n| unknown           | Could not classify the problem   |\n",
            "type": "string",
            "enum": [
              "auto_responder",
              "hard_bounce",
              "refused",
              "soft_bounce",
              "spam_complaint",
              "spam_notification",
              "transient",
              "unknown",
              null
            ],
            "nullable": true
          },
          "first_name": {
[...]
